[http]
#	proxy = http://alexandrovia@10.227.64.14:8080
[credential]
#	helper = wincred
[https]
#	proxy = https://alexandrovia@10.227.64.14:8080
[user]
	name = Ivan Alexandrov
	email = ivanhub@webera.pro
[credential]
	helper = manager
[http]
	sslBackend = schannel
